.input_group{
    padding: 0.2rem;
    margin:5px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .input_group_label{
        padding: 12px 15px;
        background-color: #333;
        margin-right: 2px;
        border-radius: 10px;
    }
    .input_group_input{
        background-color: #333;
        color: white;
        font-size: 1.2em;
        padding: 10px 15px;
        outline: none;
        border-radius: 10px;
        border: none;
    }
}