$greyNav:#090909;
$darkBar:#040404;
$lightBar:#131313;
$greyBar:#4e4c4c;
$white:#f9f9f9f9;
.track_bar{
    margin-top: 10px;
    border-radius: 10px;
    &:checked{
        background-color: $greyBar;
    }
    &:hover{
        background-color: $greyBar;
    }
    &:hover .img_name svg{
        opacity: 1;
    }
    .img_name{
        svg{
            margin-right: 20px;
            margin-top: 9px;
            opacity: 0;
            fill: $white;
        }
        img{
            width: 50px;
            height: 50px;
        }
        .song_details{
            display: flex;
            flex-direction: column;
            margin-left: 10px;

        h2{
            margin-left: 5px;
        }
        p{
            color: $white;
        }
       
        }
    }
    .likeIcon{
        fill: $white;
        width: 20px;
        cursor: pointer;
    }
}